*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Experience */
#experience{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    inset: 0;
    z-index: 0;
    transform: scale(1.03);
    transition: transform 1.2s ease;

}

body.experience-started #experience {
    transform: scale(1);
}

#experience-canvas{
    height: 100%;
    width: 100%; 
    display: block;
}

/* Utilities */
.hidden {
    display: none;
}


/* Modal */
.modal{
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    background-color: #B27C66;
    border: 2px solid #fff;
    color: #fff
}

.modal-wrapper {
    padding: 25px;
}

.modal-header{
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Loading Screen */
.loadingScreen {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingScreen.hidden {
    display: none;
}
.loadingScreen h1 {
    margin-left: 40px;
    letter-spacing: 3px;
    font-family: "Quicksand", sans-serif;
    font-size: 3rem;
    font-weight: 700;
}
.loadingScreen h1 img {

width: 35px;

margin-left: 7px;
margin-right: 7px;

position: relative;
top: 4px;

animation:  rotateForever 2s infinite;
}

@keyframes rotateForever {
  from {
   transform: rotate(360deg);
  }
}
.start-button-container {
    position: absolute;
    left: 50%;
    top: calc(50% + 90px);
    transform: translateX(-50%);

    height: 64px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
#start-button {
    padding: 14px 40px;
    border: none;
    border-radius: 999px;

    background: white;
    color: #263238;

    font-family: "Nunito Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 800;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0,0,0,.2);

    transition:
        opacity .4s,
        transform .4s,
        background .2s;

    /* hidden by default */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(10px);
}
#start-button.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}

#loading-text {
    position: absolute;
    left: 50%;
    top: calc(50% + 180px);
    transform: translateX(-50%);

    margin: 0;
    white-space: nowrap;

    font-family: "Nunito Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;

    opacity: 1;
    transition: opacity 0.3s ease;
}

/* .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
} */



/* Mario Loading Screen */
/* HTML: <div class="loader"></div> */
.loader {
  width: calc(6*30px);
  height: 50px;
  display: flex;
  /* color: #8d7958; */
  color: #000000;

  filter: drop-shadow(30px 25px 0 currentColor) drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
  clip-path: inset(0 100% 0 0);
  animation: l12 2s infinite steps(7);
}
.loader:before {
  content: "";
  width: 30px;
  height: 25px;
  --c:no-repeat radial-gradient(farthest-side,currentColor 92%,#0000);
  background: 
    var(--c) left /70% 70%,
    var(--c) right/20% 20%,
    var(--c) top    0 right 15%/20% 20%,
    var(--c) bottom 0 right 15%/20% 20%;
}
@keyframes l12 {
  100% {clip-path: inset(0 -30px 0 0)}
}


